version: '3.1'

networks:
  ridwands-network:
volumes:
  ridwands_volume:
 
services:
  db:
    image: postgres:latest
    networks:
      - ridwands-network
    environment:
      POSTGRES_USER: ridwands
      POSTGRES_DB: ridwands
      POSTGRES_PASSWORD: 123
    ports:
      - 5432:5432
    volumes:
      - ridwands_volume
